# imports

In [1]:
import pandas as pd

# data

In [2]:
# data online
# import kagglehub

# # Download latest version
# path = kagglehub.dataset_download("wanghaohan/confused-eeg")

# print("Path to dataset files:", path)

/Users/johannesheizer/Desktop/Coding/pers_projects/Kaggle_EEG/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/wanghaohan/confused-eeg?dataset_version_number=6...

100%|██████████| 109M/109M [00:04<00:00, 25.8MB/s]

Extracting files...

Path to dataset files: /Users/johannesheizer/.cache/kagglehub/datasets/wanghaohan/confused-eeg/versions/6

In [6]:
# data offline

EEG_data = pd.read_csv("../data/Kaggle_EEG_data.csv")
att_data = pd.read_csv("../data/Kaggle_demographic_info.csv")

In [10]:
EEG_df = pd.DataFrame(EEG_data)
att_df = pd.DataFrame(att_data)

In [9]:
EEG_df.head()

,SubjectID,VideoID,Attention,Mediation,Raw,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,predefinedlabel,user-definedlabeln
0,0.0,0.0,56.0,43.0,278.0,301963.0,90612.0,33735.0,23991.0,27946.0,45097.0,33228.0,8293.0,0.0,0.0
1,0.0,0.0,40.0,35.0,-50.0,73787.0,28083.0,1439.0,2240.0,2746.0,3687.0,5293.0,2740.0,0.0,0.0
2,0.0,0.0,47.0,48.0,101.0,758353.0,383745.0,201999.0,62107.0,36293.0,130536.0,57243.0,25354.0,0.0,0.0
3,0.0,0.0,47.0,57.0,-5.0,2012240.0,129350.0,61236.0,17084.0,11488.0,62462.0,49960.0,33932.0,0.0,0.0
4,0.0,0.0,44.0,53.0,-8.0,1005145.0,354328.0,37102.0,88881.0,45307.0,99603.0,44790.0,29749.0,0.0,0.0

In [11]:
att_data.head()

   subject ID   age    ethnicity  gender
0           0    25  Han Chinese       M
1           1    24  Han Chinese       M
2           2    31      English       M
3           3    28  Han Chinese       F
4           4    24      Bengali       M